@charset"UTF-8"
body{
    background-color:#fbf9cc;
    background-image:url(../img/zyouriku.jpg);
    background-repeat:repeat-x;
    }
h1{
  font-size:1.75em;
  color:#3399cc;
  }
h2{
  font-size: 1.25em;
  color: #ffffff;
  border: #94c8b1 1px dotted; 
  border-left:#d0e35b 10px solid;
  margin-bottom: 0; 
  padding: 5px 20px;

}
h3 a{
  color:#d0e35b;
}
#lead{
    border-top: #6fbb9a 1px dotted;
….
    text-align: center;
}
. greeting{
    border-top: #6fbb9a 1px dotted;
….
    text-align: center;
}

